*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  background-color: #38CFD9;
  padding: .75em 2em;
  border-radius: 100px;
  text-transform: uppercase;
  color: #23424A;
  font-weight: 900;
}

.hero {
  background-color: #23424A;
  padding: 100px 0;
  color: #FFF;
}

.hero p {
  margin-bottom: 3em;
}

.container {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
}

.hero__text {
  width: 60%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.col h2 {
  color: #87629A
}

.col + .col {
  margin-left: 10px;
}

.row__bottom {
  display: flex;
  color: #FFF;
  max-width: 1300px;
  max-width: 80%;
  margin: 0 auto;
}

.row__bottom h2 {
  color: #FFF;
}

.bottom__container {
  background-color: #136C72;
}
